@import "ui-variables";

.better-spellcheck-typo .region
{
  box-sizing: border-box;
  border-bottom: @text-color-warning 2px solid;
}

.better-spellcheck-gutter
{
  display: flex;
  
  color: @text-color-warning;

  font-size: 0.7em;
  align-self: center;
}

.better-spellcheck-gutter:before
{
  align-self: center;

  width: 1em;
  height: 1em;

  font-size: 1em;

  margin: 0;
}

.better-spellcheck-correctionsConstrainer
{
  position: absolute;

  background-color: transparent;
  width: max-content;

  height: auto;
  max-height: 150px;
  
  box-shadow: 0 2px 8px 1px fade(@pane-item-border-color, 60%);

  overflow-x: hidden;
  overflow-y: visible;
}

.better-spellcheck-correction
{
  color: @text-color;
  background-color:  @tool-panel-background-color;

  font-size: 12px;

  padding: 3px 14px;
}

.better-spellcheck-correction:hover
{
  background-color: @button-background-color;
}