.better-spellcheck-typo .region
{
  box-sizing: border-box;
  border-bottom: #d0dd21 2px solid;
}

.better-spellcheck-gutter
{
  box-sizing: border-box;
  border-left: #d0dd21 2px solid;
}

.better-spellcheck-markerItem
{
  position: absolute;

  background-color: red;
  width: 100px;
  height: 100px;
}